[MASTER]
disable=abstract-method,
        arguments-out-of-order,
        attribute-defined-outside-init,
        duplicate-code,
        import-error,
        invalid-name,
        line-too-long,
        missing-class-docstring,
        missing-module-docstring,
        too-few-public-methods,
        too-many-arguments,
        too-many-branches,
        too-many-instance-attributes,
        too-many-locals,
        too-many-nested-blocks,
        too-many-lines,
        too-many-positional-arguments,
        too-many-statements
